::-webkit-scrollbar {
  width: 14px;
}

::-webkit-scrollbar-track {
  border: 1px solid #161a1d;
  background-color: var(--secondary-bg);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg);
}

::-webkit-scrollbar-thumb:hover {
  background: #555555;
}

.accent {
  font-weight: bold;
}

.italic {
  font-style: italic;
}
