.container {
  width: calc(100vw - (172px + 56px + 64px));
  height: calc(100vh - (31px + 35px + 26px + 64px));
  padding: 32px;
  color: #ffffff;
  background-color: var(--secondary-bg);
  font-family: "JetBrains Mono", monospace;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.itemContainer {
  height: calc(100vh - (57px + 35px + 64px + 80px + 80px));
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  padding: 80px 70px 80px 70px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img {
  width: 300px;
  height: 300px;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.publisher {
  font-size: 13px;
  font-weight: bold;
}

.button {
  width: 92px;
  height: 30px;
  color: #ffffff;
  background-color: var(--button-bg);
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.select {
  border: 2px solid var(--accent-color);
}

@media (max-width: 1440px) {
  .img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 768px) {
  .container {
    width: calc(100vw - (56px + 64px));
  }

  .itemContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }

  .img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 640px) {
  .container {
    width: 100vw;
  }
}
