.container {
  width: calc(100vw - (172px + 56px));
  height: calc(100vh - (30px + 35px + 25px));
  padding: 32px;
  color: #ffffff;
  background-color: var(--secondary-bg);
  font-family: "JetBrains Mono", monospace;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.itemContainer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  flex-wrap: wrap;
}

.item {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.img {
  width: 100%;
}

.name {
  font-size: 18px;
  font-weight: bold;
}

.publisher {
  font-size: 13px;
  font-weight: bold;
}

.button {
  width: 92px;
  height: 30px;
  color: #ffffff;
  background-color: var(--button-bg);
  border: none;
  font-size: 16px;
  font-weight: bold;
}

.select {
  border: 2px solid var(--accent-color);
}

@media (max-width: 890px) {
  .itemContainer {
    flex-direction: column;
    text-align: center;
    gap: 10%;
  }
}

@media (max-width: 800px) {
  .container {
    height: calc(100vh - (30px + 50px + 25px));
  }

  .title {
    font-size: 22px;
    font-weight: bold;
  }
}

@media (max-width: 600px) {
  .container {
    width: calc(100vw - 56px);
  }
}
