.container {
  width: 56px;
  height: calc(100vh - 57px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-bg);
}

.menuTop,
.menuBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  height: 56px;
  font-size: 26px;
  background-color: var(--secondary-bg);
  color: #6a737d;
}

.icon:hover {
  color: #ffffff;
}

.select {
  color: #ffffff;
}
