.cardContainer {
  background-color: var(--main-bg);
  border-radius: 10px;
  overflow: hidden;
}

.cardContainer:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.imgContainer {
  position: relative;
  overflow: hidden;
}

.cardImg {
  width: 100%;
  object-fit: contain;
}

.copyTag {
  width: 150%;
  position: absolute;
  top: 19%;
  left: 13%;
  text-align: center;
  padding: 5px 0;
  background-color: var(--accent-color);
  white-space: nowrap;
  transform: translate(-50%, -50%) rotate(-43deg);
}

.contentContainer {
  padding: 16px;
}

.name {
  margin-bottom: 8px;
  font-weight: bold;
}

.desc {
  min-height: 35px;
  margin-bottom: 6px;
  font-size: 13px;
}

.tagContainer {
  min-height: 60px;
}

.skillTag {
  display: inline-block;
  margin: 0.5em 0.5em 0 0;
}

.memo,
.career {
  display: block;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  transition: 0.5s;
}

.memo {
  border: 2px solid #ff4154;
}
.career {
  border: 2px solid #416dff;
}

.memo:hover {
  background-color: #ff4154;
}

.career:hover {
  background-color: #416dff;
}

.linkContainer {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.linkContainer a {
  margin-top: 15px;
  padding: 5px;
  text-align: center;
  border-radius: 15px;
  transition: 0.5s;
  width: calc((100% - 15px) / 2);
}

.sourceCode {
  border: 2px solid #00ad00;
}

.sourceCode:hover {
  background-color: #00ad00;
}

.demo {
  border: 2px solid #f38f1e;
}

.demo:hover {
  background-color: #f38f1e;
}

a {
  color: #fff;
}

@media (max-width: 720px) {
  .cardContainer {
    font-size: 13px;
  }
}
