.container {
  width: 172px;
  background-color: var(--main-bg);
  border-left: 1px solid #161a1d;
  border-right: 1px solid #161a1d;
  color: #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

.title {
  padding: 8px 0px 0px 8px;
  margin-bottom: 20px;
}

.dropDown {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.dropDown span {
  font-weight: 400;
}

.arrowDown {
  transition: all 0.5s;
}

.arrowRight {
  transform: rotate(-90deg);
  transition: all 0.5s;
}

.menu {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  padding: 2px 8px;
  font-size: 14px;
  color: #ffffff;
}

.menu:hover {
  background-color: var(--secondary-bg);
}

.icon {
  margin-right: 6px;
}

.select {
  background-color: var(--secondary-bg);
}

a {
  text-decoration: none;
}
