.container {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  background-color: #1f2428;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.menuContainer {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-left: 1px solid #24292e;
  border-right: 1px solid #24292e;
  color: #ffffff;
}

.icon {
  font-size: 18px;
  margin-right: 6px;
}

.select {
  border-top: 1px solid #f9826c;
  background-color: #24292e;
}

a {
  text-decoration: none;
}
