.container {
  width: calc(100vw - (172px + 56px));
  height: 35px;
  display: flex;
  flex-direction: row;
  color: #ffffff;
  background-color: var(--main-bg);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 300;
  overflow-x: auto;
  overflow-y: hidden;
}

.menuContainer {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  color: #ffffff;
  border-right: 1px solid var(--tab-boder);
}

.icon {
  margin-right: 6px;
  font-size: 18px;
}

.select {
  background-color: var(--secondary-bg);
  border-top: 1px solid var(--accent-color);
}

.container::-webkit-scrollbar {
  height: 15px;
}

.container::-webkit-scrollbar-track {
  background-color: var(--secondary-bg);
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bg);
}

@media (max-width: 800px) {
  .container {
    height: 50px;
  }
}

@media (max-width: 600px) {
  .container {
    width: calc(100vw - 56px);
  }
}
